* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: '微软雅黑', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  display: flex;
  padding-top: 73px; /* 顶部导航高度 */
}

.sidebar-content {
  width: 230px;
  background-color: #f3f4f6;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  margin-left: 230px; /* 侧边栏宽度 */
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  
  .content-area {
    margin-left: 0;
    margin-top: 230px;
  }
}